In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer,make_column_selector
from sklearn.model_selection import StratifiedKFold, GridSearchCV
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings("ignore")

In [3]:
import h2o

In [4]:
df=pd.read_csv("../Dataset/ProcessedFile.csv")

In [5]:
X = df.drop(['price','localityName'], axis=1)
y = df['price']

In [6]:
X['propertyType'] = X['propertyType'].map({'Independent Floor':1,
                                           'Apartment':2,
                                           'Independent House':3,
                                           'Villa':4})

In [11]:
ohc = OneHotEncoder()
ct = make_column_transformer((ohc,
       make_column_selector(dtype_include=object)),
       ("passthrough",
        make_column_selector(dtype_include=['int64','float64'])))
X_transf = ct.fit_transform(X).toarray()
X_transf = pd.DataFrame(X_transf, columns=ct.get_feature_names_out())
X_train, X_test, y_train, y_test = train_test_split(X_transf, y,test_size = 0.15, 
                                                    random_state=2023,
                                                    stratify=X['propertyType'])

In [12]:
print(ct.get_feature_names_out())

['onehotencoder__suburbName_Central Delhi'
 'onehotencoder__suburbName_East Delhi'
 'onehotencoder__suburbName_North Delhi'
 'onehotencoder__suburbName_North West Delhi'
 'onehotencoder__suburbName_Other' 'onehotencoder__suburbName_South Delhi'
 'onehotencoder__suburbName_South West Delhi'
 'onehotencoder__suburbName_West Delhi'
 'onehotencoder__companyName_A R Realtors'
 'onehotencoder__companyName_AB Estate'
 'onehotencoder__companyName_AMIT CHHABRA'
 'onehotencoder__companyName_AMPM Realtors'
 'onehotencoder__companyName_AVS Realtors'
 'onehotencoder__companyName_Abhishek yadav'
 'onehotencoder__companyName_Ahuja properties'
 'onehotencoder__companyName_Angel Property Services'
 'onehotencoder__companyName_Arjun Raj'
 'onehotencoder__companyName_Ashish Bansal'
 'onehotencoder__companyName_Ashish Talwar'
 'onehotencoder__companyName_Atul Kumar'
 'onehotencoder__companyName_B Kumar and Brothers'
 'onehotencoder__companyName_Baghla Estates'
 'onehotencoder__companyName_Bhagirathi Estate'
 'onehotencoder__companyName_Bhawani Estates'
 'onehotencoder__companyName_Brickhouse Realty Solutions'
 'onehotencoder__companyName_Chetan Narang Properties'
 'onehotencoder__companyName_Damajeet Singh'
 'onehotencoder__companyName_Delhi dreams properties consultant'
 'onehotencoder__companyName_Destination Realty Solutions Private Limited'
 'onehotencoder__companyName_Dinesh associates'
 'onehotencoder__companyName_Disha Properties'
 'onehotencoder__companyName_Faith Realty'
 'onehotencoder__companyName_Find A House Real Estate Consultants'
 'onehotencoder__companyName_Find Homes'
 'onehotencoder__companyName_Gaurav Raj kumar'
 'onehotencoder__companyName_Gaurav Singh'
 'onehotencoder__companyName_HR Associates'
 'onehotencoder__companyName_Handa Properties Paschim Vihar'
 'onehotencoder__companyName_Hari Om Group'
 'onehotencoder__companyName_India Homes'
 'onehotencoder__companyName_India Z Homes'
 'onehotencoder__companyName_Investors Boutique'
 'onehotencoder__companyName_Jain Builder properties'
 'onehotencoder__companyName_Jain Builders Properties'
 'onehotencoder__companyName_Jain builders and properties'
 'onehotencoder__companyName_Jatin'
 'onehotencoder__companyName_Jindal Real Estate'
 'onehotencoder__companyName_K C MIDDHA'
 'onehotencoder__companyName_Kunal Associates'
 'onehotencoder__companyName_Laxmipati Associates PvtLtd'
 'onehotencoder__companyName_Mak Realtors Private Limited'
 'onehotencoder__companyName_Moneytree real estate consultants'
 'onehotencoder__companyName_Mukesh'
 'onehotencoder__companyName_NCR Investors'
 'onehotencoder__companyName_Navigators Estate'
 'onehotencoder__companyName_Nayan Property'
 'onehotencoder__companyName_Neon Properties'
 'onehotencoder__companyName_Nikhil'
 'onehotencoder__companyName_ONS Realtors'
 'onehotencoder__companyName_Other'
 'onehotencoder__companyName_Panther Properties'
 'onehotencoder__companyName_Panworld Property Consultants'
 'onehotencoder__companyName_Parmod Jain'
 'onehotencoder__companyName_Pathfinder Homes'
 'onehotencoder__companyName_Pooja Sood'
 'onehotencoder__companyName_Pranav Gupta'
 'onehotencoder__companyName_Prime Property'
 'onehotencoder__companyName_Property Gallery'
 'onehotencoder__companyName_Property Hub'
 'onehotencoder__companyName_Property Linkers'
 'onehotencoder__companyName_R K Properties Consultants'
 'onehotencoder__companyName_R V Properties'
 'onehotencoder__companyName_RATHOR PROPERTIES'
 'onehotencoder__companyName_RSS DELHI PROPERTY'
 'onehotencoder__companyName_Rakesh Kumar Verma'
 'onehotencoder__companyName_Ravinder singh'
 'onehotencoder__companyName_Realty Centre'
 'onehotencoder__companyName_Ritu Estates'
 'onehotencoder__companyName_Rohit'
 'onehotencoder__companyName_S B Associates'
 'onehotencoder__companyName_S K JAIN'
 'onehotencoder__companyName_SAHIL CHAWLA'
 'onehotencoder__companyName_SUMIT SIKKA'
 'onehotencoder__companyName_Sach Consultant'
 'onehotencoder__companyName_Sai Real Estate Services Regd'
 'onehotencoder__companyName_Sanjay kumar company'
 'onehotencoder__companyName_Seema Chaudhary'
 'onehotencoder__companyName_Shakuntala Buildcon'
 'onehotencoder__companyName_Shubham Home Solutions'
 'onehotencoder__companyName_Shyam properties'
 'onehotencoder__companyName_Smart Homes'
 'onehotencoder__companyName_Sudhir Kumar'
 'onehotencoder__companyName_Swastik Properties'
 'onehotencoder__companyName_Tarun'
 'onehotencoder__companyName_Vicky pareek'
 'onehotencoder__companyName_Vikrant Datta'
 'onehotencoder__companyName_Viva Estates'
 'onehotencoder__companyName_Wadhera Estate'
 'onehotencoder__companyName_Yukti' 'onehotencoder__companyName_bhagwan'
 'onehotencoder__companyName_caretakers'
 'onehotencoder__companyName_charu'
 'onehotencoder__companyName_goswami realtors'
 'onehotencoder__companyName_hans india real estate'
 'onehotencoder__companyName_kartik dev'
 'onehotencoder__companyName_kunal'
 'onehotencoder__companyName_pransu Srivastava'
 'onehotencoder__companyName_sandy' 'onehotencoder__companyName_sanjeev'
 'onehotencoder__companyName_vijay mani tripathi'
 'passthrough__size_sq_ft' 'passthrough__propertyType'
 'passthrough__bedrooms' 'passthrough__latitude' 'passthrough__longitude'
 'passthrough__closest_metro_station_km' 'passthrough__AP_dist_km'
 'passthrough__Aiims_dist_km' 'passthrough__NDRLW_dist_km']

In [44]:
train = pd.concat([X_train, y_train], axis=1)
test = pd.concat([X_test, y_test], axis=1)

In [125]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.361-b09, mixed mode)
  Starting server from C:\ProgramData\Anaconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\asus\AppData\Local\Temp\tmpzhi8srjv
  JVM stdout: C:\Users\asus\AppData\Local\Temp\tmpzhi8srjv\h2o_asus_started_from_python.out
  JVM stderr: C:\Users\asus\AppData\Local\Temp\tmpzhi8srjv\h2o_asus_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is too old (2 years, 9 months and 4 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    2 years, 9 months and 4 days !!!
H2O_cluster_name:           H2O_from_python_asus_hbc9jo
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.755 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.13 final
--------------------------  ---------------------------------------------------------

In [126]:
train_h2o = h2o.H2OFrame(train, destination_frame="train")
test_h2o = h2o.H2OFrame(test, destination_frame="test")

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [127]:
houserenth2o = train_h2o.rbind(test_h2o)
houserenth2o.nrows

17890

In [128]:
X = houserenth2o.col_names[:119]

In [129]:
y = 'price'

In [130]:
from h2o.grid.grid_search import H2OGridSearch
from h2o.estimators.random_forest import H2ORandomForestEstimator

In [166]:
rf_params1 = {"ntrees" : [5,10,25,50],
                "max_depth": [5,7,10,12,15,17,20,25],
                "mtries" : [3,4,6,8,10]}

rf_h2o = H2ORandomForestEstimator(seed=2023)
rf_grid1 = H2OGridSearch(model=rf_h2o,
                          grid_id='rf_grid1',
                          hyper_params=rf_params1)

In [167]:
rf_grid1.train(x=X, y=y, training_frame=train_h2o, 
               validation_frame=test_h2o,seed=2023)

drf Grid Build progress: |████████████████████████████████████████████████| 100%

In [168]:
rf_gridperf1 = rf_grid1.get_grid(sort_by="r2",
                                 decreasing=True)

In [183]:
rf_gridperf1

       max_depth mtries ntrees           model_ids                   r2
0             25      8     10  rf_grid1_model_212   0.8672915326425853
1             25      8     10  rf_grid1_model_212   0.8672915326425853
2             20      8     10  rf_grid1_model_163   0.8663632272759416
3             17      8     10  rf_grid1_model_162   0.8640530585840942
4             25      8     25  rf_grid1_model_252   0.8592365278204142
..  ..       ...    ...    ...                 ...                  ...
155            5      3      5    rf_grid1_model_1  0.26250531136529986
156            7      6      5   rf_grid1_model_12   0.2559013621991473
157            7      4      5    rf_grid1_model_7  0.19152446732092598
158            5      4      5    rf_grid1_model_6  0.16675553278991595
159            5      6      5   rf_grid1_model_11  0.16143305844731215

[160 rows x 6 columns]

In [170]:
best_rf1 = rf_gridperf1.models[0]
best_rf1

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  rf_grid1_model_212


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,10.0,10.0,120596.0,25.0,25.0,25.0,150.0,2186.0,951.8

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 2779891819.244304
RMSE: 52724.67941338576
MAE: 11397.728190672357
RMSLE: 0.43387822923237
Mean Residual Deviance: 2779891819.244304

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 496473156.2348923
RMSE: 22281.67759022853
MAE: 9192.516167012209
RMSLE: 0.4089145765051987
Mean Residual Deviance: 496473156.2348923

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2023-03-06 12:05:35,1.589 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2023-03-06 12:05:35,1.618 sec,1.0,70930.770462,15514.385681,5.031174e+09,58083.269152,15186.672222,3.373666e+09
2,,2023-03-06 12:05:36,1.651 sec,2.0,75411.475452,14383.896378,5.686891e+09,47318.791259,12465.001867,2.239068e+09
3,,2023-03-06 12:05:36,1.679 sec,3.0,68124.744382,14549.195384,4.640981e+09,32682.714592,12103.113297,1.068160e+09
4,,2023-03-06 12:05:36,1.700 sec,4.0,59047.346190,14320.482978,3.486589e+09,30269.361951,12191.027220,9.162343e+08
5,,2023-03-06 12:05:36,1.734 sec,5.0,57331.030373,13248.598813,3.286847e+09,26867.116430,11088.875504,7.218419e+08
6,,2023-03-06 12:05:36,1.785 sec,6.0,55401.330899,12592.966015,3.069307e+09,26668.863683,10475.535488,7.112283e+08
7,,2023-03-06 12:05:36,1.821 sec,7.0,49083.266443,12080.582042,2.409167e+09,26053.685006,10150.009266,6.787945e+08
8,,2023-03-06 12:05:36,1.877 sec,8.0,48691.729422,11754.049445,2.370885e+09,26097.507226,9720.195560,6.810799e+08
9,,2023-03-06 12:05:36,1.923 sec,9.0,52788.267005,11730.059515,2.786601e+09,26683.354022,9608.918770,7.120014e+08
10,,2023-03-06 12:05:36,1.978 sec,10.0,52724.679413,11397.728191,2.779892e+09,22281.677590,9192.516167,4.964732e+08

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,passthrough__bedrooms,1.448046e+14,1.000000,0.257523
1,passthrough__size_sq_ft,1.135801e+14,0.784368,0.201993
2,onehotencoder__companyName_B Kumar and Brothers,9.541854e+13,0.658947,0.169694
3,onehotencoder__companyName_Other,4.804114e+13,0.331765,0.085437
4,passthrough__latitude,3.247281e+13,0.224253,0.057750
5,passthrough__propertyType,2.678978e+13,0.185006,0.047643
6,onehotencoder__suburbName_Central Delhi,2.332246e+13,0.161062,0.041477
7,passthrough__Aiims_dist_km,1.746907e+13,0.120639,0.031067
8,passthrough__closest_metro_station_km,7.910158e+12,0.054626,0.014068
9,passthrough__NDRLW_dist_km,6.663181e+12,0.046015,0.011850
10,onehotencoder__companyName_Brickhouse Realty Solutions,5.780053e+12,0.039916,0.010279
11,passthrough__longitude,4.626687e+12,0.031951,0.008228
12,onehotencoder__suburbName_Other,4.430674e+12,0.030598,0.007880
13,onehotencoder__companyName_Property Gallery,3.987594e+12,0.027538,0.007092
14,onehotencoder__companyName_Find Homes,3.975079e+12,0.027451,0.007069
15,onehotencoder__suburbName_South Delhi,3.214246e+12,0.022197,0.005716
16,onehotencoder__companyName_India Homes,2.592068e+12,0.017900,0.004610
17,onehotencoder__companyName_R K Properties Consultants,2.490451e+12,0.017199,0.004429
18,onehotencoder__companyName_Moneytree real estate consultants,2.044132e+12,0.014116,0.003635
19,passthrough__AP_dist_km,1.829976e+12,0.012638,0.003254

See the whole table with table.as_data_frame()

In [141]:
varimp = best_rf1.varimp(use_pandas=True)
varimp

,variable,relative_importance,scaled_importance,percentage
0,passthrough__bedrooms,1.446182e+14,1.000000,0.258897
1,passthrough__size_sq_ft,1.128921e+14,0.780622,0.202100
2,onehotencoder__companyName_B Kumar and Brothers,9.541782e+13,0.659791,0.170818
3,onehotencoder__companyName_Other,4.799028e+13,0.331841,0.085913
4,passthrough__latitude,3.222598e+13,0.222835,0.057691
...,...,...,...,...
109,onehotencoder__companyName_Viva Estates,0.000000e+00,0.000000,0.000000
110,onehotencoder__companyName_kartik dev,0.000000e+00,0.000000,0.000000
111,onehotencoder__companyName_kunal,0.000000e+00,0.000000,0.000000
112,onehotencoder__companyName_pransu Srivastava,0.000000e+00,0.000000,0.000000
113,onehotencoder__companyName_sanjeev,0.000000e+00,0.000000,0.000000

In [175]:
best_rf1.predict(test_h2o)

drf prediction progress: |████████████████████████████████████████████████| 100%

predict
19033.6
240235
28121.3
19391.2
23834.4
18344.9
17939
20939.6
58142.7
29157.1

In [142]:
from h2o.automl import H2OAutoML

In [155]:
aml = H2OAutoML(max_models=10, seed=2023, stopping_metric="mse", sort_metric="mse")
aml.train(x=X, y=y, training_frame=train_h2o)

AutoML progress: |
11:26:37.914: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%

In [156]:
lb = aml.leaderboard
lb.head(rows=lb.nrows)

model_id,mse,mean_residual_deviance,rmse,mae,rmsle
GBM_1_AutoML_20230306_112637,1.43136e+09,1.43136e+09,37833.3,8501.21,0.316393
GBM_3_AutoML_20230306_112637,1.71491e+09,1.71491e+09,41411.5,8474.93,nan
DRF_1_AutoML_20230306_112637,1.74245e+09,1.74245e+09,41742.7,7534.34,0.272631
GBM_2_AutoML_20230306_112637,1.77831e+09,1.77831e+09,42170,8677.59,nan
GBM_4_AutoML_20230306_112637,1.81079e+09,1.81079e+09,42553.4,8358,nan
XRT_1_AutoML_20230306_112637,1.8226e+09,1.8226e+09,42692,7605.32,0.271002
StackedEnsemble_AllModels_AutoML_20230306_112637,2.14886e+09,2.14886e+09,46355.7,8441.11,nan
StackedEnsemble_BestOfFamily_AutoML_20230306_112637,2.15299e+09,2.15299e+09,46400.3,8400.62,0.299589
GBM_grid__1_AutoML_20230306_112637_model_1,2.64372e+09,2.64372e+09,51417.2,10112.8,nan
GBM_5_AutoML_20230306_112637,3.14606e+09,3.14606e+09,56089.7,9593.91,nan
DeepLearning_1_AutoML_20230306_112637,5.35027e+09,5.35027e+09,73145.5,11013.2,nan
GLM_1_AutoML_20230306_112637,8.45427e+09,8.45427e+09,91947.1,23537.5,0.845937

In [157]:
# Getting the best model
m = aml.leader.r2
m

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_1_AutoML_20230306_112637


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,67.0,67.0,28291.0,6.0,6.0,6.0,13.0,49.0,28.820896

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 205044393.4791768
RMSE: 14319.371266894954
MAE: 6617.705479128304
RMSLE: 0.2910849959741285
Mean Residual Deviance: 205044393.4791768

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 1431357074.7511427
RMSE: 37833.279989331386
MAE: 8501.212163622666
RMSLE: 0.3163932208884228
Mean Residual Deviance: 1431357074.7511427

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,8501.201,764.7707,8667.24,8430.972,9118.134,9059.268,7230.3936
1,mean_residual_deviance,1.43136717E9,5.04604416E8,1.27780685E9,1.65932736E9,1.16828685E9,2.17990323E9,8.7151162E8
2,mse,1.43136717E9,5.04604416E8,1.27780685E9,1.65932736E9,1.16828685E9,2.17990323E9,8.7151162E8
3,r2,0.7961534,0.07296424,0.82359755,0.82630056,0.6879038,0.87906724,0.763898
4,residual_deviance,1.43136717E9,5.04604416E8,1.27780685E9,1.65932736E9,1.16828685E9,2.17990323E9,8.7151162E8
5,rmse,37374.457,6568.5913,35746.42,40734.844,34180.21,46689.434,29521.375
6,rmsle,0.31580213,0.021590617,0.33438,0.3006136,0.34292656,0.30715987,0.29393056

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2023-03-06 11:27:03,6.468 sec,0.0,91941.351943,23538.856894,8.453212e+09
1,,2023-03-06 11:27:03,6.573 sec,5.0,58992.897943,15925.093516,3.480162e+09
2,,2023-03-06 11:27:03,6.661 sec,10.0,38586.762814,12136.630307,1.488938e+09
3,,2023-03-06 11:27:04,6.745 sec,15.0,28474.131414,10012.741523,8.107762e+08
4,,2023-03-06 11:27:04,6.832 sec,20.0,22803.419289,8732.352170,5.199959e+08
5,,2023-03-06 11:27:04,6.921 sec,25.0,19637.100821,8192.801065,3.856157e+08
6,,2023-03-06 11:27:04,7.013 sec,30.0,17744.223386,7842.801957,3.148575e+08
7,,2023-03-06 11:27:04,7.105 sec,35.0,16921.436641,7651.193317,2.863350e+08
8,,2023-03-06 11:27:04,7.192 sec,40.0,16278.449587,7390.908673,2.649879e+08
9,,2023-03-06 11:27:04,7.281 sec,45.0,15775.322059,7215.582412,2.488608e+08
10,,2023-03-06 11:27:04,7.370 sec,50.0,15311.876769,7040.827159,2.344536e+08
11,,2023-03-06 11:27:04,7.464 sec,55.0,14924.175162,6891.801584,2.227310e+08
12,,2023-03-06 11:27:04,7.568 sec,60.0,14650.379656,6774.399496,2.146336e+08
13,,2023-03-06 11:27:04,7.671 sec,65.0,14422.813963,6665.022570,2.080176e+08
14,,2023-03-06 11:27:05,7.712 sec,67.0,14319.371267,6617.705479,2.050444e+08

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,passthrough__bedrooms,2.414823e+14,1.000000,0.392189
1,passthrough__size_sq_ft,1.741156e+14,0.721029,0.282780
2,passthrough__NDRLW_dist_km,7.111133e+13,0.294478,0.115491
3,onehotencoder__suburbName_Central Delhi,1.940304e+13,0.080350,0.031512
4,passthrough__latitude,1.788696e+13,0.074072,0.029050
5,onehotencoder__companyName_Other,1.775167e+13,0.073511,0.028830
6,passthrough__AP_dist_km,1.517388e+13,0.062836,0.024644
7,onehotencoder__companyName_B Kumar and Brothers,1.469690e+13,0.060861,0.023869
8,passthrough__longitude,9.991594e+12,0.041376,0.016227
9,passthrough__propertyType,5.416201e+12,0.022429,0.008796
10,passthrough__closest_metro_station_km,5.351137e+12,0.022160,0.008691
11,passthrough__Aiims_dist_km,4.503340e+12,0.018649,0.007314
12,onehotencoder__companyName_Find Homes,4.323308e+12,0.017903,0.007021
13,onehotencoder__companyName_R K Properties Consultants,3.065757e+12,0.012696,0.004979
14,onehotencoder__companyName_Sach Consultant,2.027872e+12,0.008398,0.003293
15,onehotencoder__companyName_Brickhouse Realty Solutions,1.918160e+12,0.007943,0.003115
16,onehotencoder__companyName_Property Gallery,1.466203e+12,0.006072,0.002381
17,onehotencoder__suburbName_East Delhi,1.216476e+12,0.005038,0.001976
18,onehotencoder__companyName_SUMIT SIKKA,7.625348e+11,0.003158,0.001238
19,onehotencoder__companyName_Delhi dreams properties consultant,6.422000e+11,0.002659,0.001043

See the whole table with table.as_data_frame()

In [181]:
preds = aml.leader.predict(test_h2o)
preds

gbm prediction progress: |████████████████████████████████████████████████| 100%

predict
17495.6
59010.1
24866.3
13508.7
23700.8
13017.1
13887.4
20145.3
54326.1
30434.8

In [124]:
#h2o.cluster().shutdown()

H2O session _sid_aa1c closed.